<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Prodotti</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div   th:include="layout/navbar :: navbar"></div>
<div class="container">
 <!--   
 
 <h1>Lista dei Prodotti Selezionati</h1>
    <form action="/process" method="POST">
        <table class="striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Immagine</th>
                    <th>Seleziona</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${lista}">
                    <td th:text="${prodotto.nome}"></td>
                    <td th:text="${prodotto.marca}"></td>
                    <td>
                        <img th:src="${prodotto.url}" alt="Immagine Prodotto" style="object-fit: cover; height: 100px;">
                    </td>
                    <td>
                        <input type="number" name="num" value="0" min="0"> 
                        <input type="hidden" name="nome" th:value="${prodotto.nome}">
                    </td>
                </tr>
            </tbody>
        </table>
        
        <input class="btn" type="submit" value="Aggiungi al carrello">
    </form>

    <h3>Prodotti Selezionati:</h3>
    <div class="row" th:if="${prodottiSelezionati != null}">
        <div class="col l4" th:each="prodotto : ${prodottiSelezionati}">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="${prodotto.url}" alt="Immagine Prodotto" style="object-fit: cover; height: 200px;">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" th:text="${prodotto.nome}"><i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" th:text="${prodotto.marca}">Marca<i class="material-icons right">close</i></span>
                    <p>Prezzo: <span th:text="${prodotto.prezzo} + ' €'"></span></p>
                    <p>Descrizione: <span th:text="${prodotto.descrizione}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <hr> 
 
  -->  

    <h3>Catalogo</h3>
    <div class="row">
        <div class="col l4" th:each="prodotto : ${lista}">
            <div class="card">
            <!-- style="display: flex; justify-content: center; align-items: center;" per centrare immagini nella card -->
                <div class="card-image waves-effect waves-block waves-light" style="display: flex; justify-content: center; align-items: center;">
                    <img class="activator" th:src="${prodotto.url}" alt="Immagine Prodotto" style="object-fit: cover; width: 120px;">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" th:text="${prodotto.nome}"><i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" th:text="${prodotto.marca}">Marca<i class="material-icons right">close</i></span>
                    <p>Prezzo: <span th:text="${prodotto.prezzo} + ' €'"></span></p>
                    <p>Descrizione: <span th:text="${prodotto.descrizione}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <form action="/" method="GET">
        <input class="btn" type="submit" value="Ritorna Home">
    </form>
</div>





<script>
window.onload = gestoreLoad;

function gestoreLoad(){
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            location.reload();
        }
    });
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
